*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(172, 245, 153);
}



ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


li {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    border: 2px rgb(0, 0, 0) solid;
    width: 120px;
    margin: 1px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
}

li :hover {
    background-color: rgb(5, 238, 25);
}


img{
    width: 300px;

}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
   text-shadow: 5px 5px 5px #000;
   margin-top: 20px;
   margin-bottom: 40px;
}

h2{
    background-color: rgb(83, 180, 96);
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 10px;
    border-color: 5px 5px 5px 5px #000;
}

.pie{
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border: 3px solid black
}

.portada{
    width: 40%;
    border: 3px solid black
}
