* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(172, 245, 153);
}



ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


li {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    border: 2px rgb(0, 0, 0) solid;
    width: 120px;
    margin: 1px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
}

li :hover {
    background-color: rgb(5, 238, 25);
}

.titulo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 5px 5px 5px rgb(12, 53, 14);
    margin-bottom: 40px;
}

h2{
    background-color: rgb(83, 180, 96);
}

.caja_1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    padding: 0.5rem;
    border: 3px solid black
}

p {
    font-size: 20px;
    text-align: left;
    background-color: white;
}

h3 {
    text-align: left;
    font-size: 30px;
    background-color: white;
}

h4 {
    display: flex;
    text-align: left;
    font-size: 20px;
    background-color: white;
}

.caja_2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
    text-align: left;
    padding: 0.5rem;
    border: 3px solid black
}

.contenedor-cajas {
    display: flex;
    justify-content: center;
    gap: 40px;
}