* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(172, 245, 153);
}
body {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

li {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  border: 2px rgb(0, 0, 0) solid;
  width: 120px;
  margin: 1px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li :hover {
  background-color: rgb(5, 238, 25);
  transition: background-color 350ms ease-in-out;
}

.btn-nav {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 1);
  background-color: rgb(255, 255, 255);
  transition: background-color 350ms ease-in-out;
}

.titulo {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  background-color: rgb(83, 180, 96);
  padding: 0 0.75rem 0 0.75rem;
}

.deshabilitado {
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .titulo {
    display: flex;
    font-size: 2rem;
  }

}

@media screen and (max-width: 460px) {
  .titulo {
    display: flex;
    font-size:1.4rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

}