* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(172, 245, 153);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

li {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  border: 2px rgb(0, 0, 0) solid;
  width: 120px;
  margin: 1px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  transition: background-color 350ms ease-in-out;
}

li :hover {
  background-color: rgb(5, 238, 25);
  transition: background-color 350ms ease-in-out;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

.titulo {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 5px 5px 5px #000;
  margin-top: 20px;
  margin-bottom: 40px;
}

h2 {
  background-color: rgb(83, 180, 96);
  padding: 0 0.75rem 0 0.75rem;
}

.deshabilitado {
  /* cursor: not-allowed; */
  pointer-events: none;
}
